.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.item {
    height: 350px;
    width: 400px;
    border-style: solid;
    padding: 2%;
    /* margin: 1%; */
    /* border: 1%; */
}